<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Quotes Generator</title>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">

  <!-- CSS Stylesheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles1.css">

  <!-- Font Awesome -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

  <!-- Bootstrap Scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>


<body>

  <section class="colored-section" id="title">

    <div class="container-fluid">

      <nav class="navbar navbar-expand-lg navbar-dark">

        <a class="navbar-brand" href="">Quotes Generator</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

          <ul class="navbar-nav ml-auto">
            
            <li class="nav-item">
              <a class="nav-link" href="#features">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#testimonials">Testimonials</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#cta">Login/Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">About Us</a>
            </li>
          </ul>

        </div>
      </nav>
      <!-- Title -->

      <div class="row">

        <div class="col-lg-6">
          <h1 class="big-heading">Wanna Get Perfect Quote For Today ?</h1>
          <button type="button" class="btn btn-dark btn-lg download-button"><i class="fab fa-apple"></i> Download</button>
          <button type="button" class="btn btn-outline-light btn-lg download-button"><i class="fab fa-google-play"></i> Download</button>
        </div>

        <div class="col-lg-6">
          <img class="title-image" src="/img/images/screen.png" alt="screen-mockup">
        </div>

      </div>

    </div>

  </section>
  <!-- Features -->
  
  <section class="white-section" id="features">

    <div class="container-fluid">

      <div class="row">
        <div class="feature-box col-lg-4">
          <i class="icon fas fa-check-circle fa-4x"></i>
          <h3 class="feature-title">Easy to use.</h3>
          <p>So easy to use, even a child could use it.</p>
        </div>

        <div class="feature-box col-lg-4">
          <i class="icon fas fa-bullseye fa-4x"></i>
          <h3 class="feature-title">Elite Clientele</h3>
          <p>We have all the quotes by the greatest authors.</p>
        </div>

        <div class="feature-box col-lg-4">
          <i class="icon fas fa-heart fa-4x"></i>
          <h3 class="feature-title">Guaranteed to work.</h3>
          <p>You will definitely find a perfect quote.</p>
        </div>
      </div>


    </div>
  </section>
  <!-- Testimonials -->

  <section class="colored-section" id="testimonials">

    <div id="testimonial-carousel" class="carousel slide" data-ride="false">
      <div class="carousel-inner">
        <div class="carousel-item active container-fluid">
          <h2 class="testimonial-text">It's easy to find great quotes without wasting time in searching.</h2>
          <img class="testimonial-image" src="img/images/imageweb.jpg" alt="women-profile">
          <em>Pebbles, New York</em>
        </div>
        <div class="carousel-item container-fluid">
          <h2 class="testimonial-text">Now, No longer i have to think about a quote and could get quotes of great author easily.</h2>
          <img class="testimonial-image" src="img/images/lady-img.jpg" alt="lady-profile">
          <em>Sandy, Illinois</em>
        </div>
      </div>
      <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon"></span>
      </a>
    </div>

  </section>
  <!-- Press -->

  <section class="colored-section" id="press">
    <img class="press-logo" src="img/images/techcrunch.png" alt="tc-logo">
    <img class="press-logo" src="img/images/tnw.png" alt="tnw-logo">
    <img class="press-logo" src="img/images/bizinsider.png" alt="biz-insider-logo">
    <img class="press-logo" src="img/images/mashable.png" alt="mashable-logo">

  </section>
  

  <!-- Call to Action -->

  <section class="colored-section" id="cta">

    <div class="container-fluid">

      <h3 class="big-heading" >Find a perfect quote for today.</h3>
      <button class="download-button btn btn-lg btn-dark" type="button"  onclick="login()">  Login.  </button>
      <button class="download-button btn btn-lg brn-light" type="button"  onclick="signup()"> Sign Up</button>
    </div>
  </section>

  <footer class="white-section" id="about">
    <div class="container-fluid">
      
      <h3 class="big-heading">About Us</h3>
      <h3 >At Quotes Generator, we believe in the power of words to inspire, uplift, and connect people from all walks of life. Our mission is to be your go-to destination for a daily dose of motivation, wisdom, and laughter through our curated collection of quotes.</h3>
    </div>
  </footer>


</body>

</html>
<script>
  function login()
  {
     window.location.href="login"; 
  }
  function signup()
  { 
    window.location.href="signup"; 
  }
</script>
