<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sign Up</title>

  <!-- CSS -->
  <link rel="stylesheet" href="/css/styles.css" />
  <link
    href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
    rel="stylesheet"
  />
</head>
<body>
  <div class="container">
    <header>Signup</header>
    <form action="/signup" method="POST">
      
      <!-- Username -->
      <div class="field user-field">
        <div class="input-field">
          <input type="text" name="username" placeholder="Enter your username" required />
        </div>
      </div>

      <!-- Email -->
      <div class="field email-field">
        <div class="input-field">
          <input type="email" name="email" placeholder="Enter your email" required />
        </div>
      </div>

      <!-- Password -->
      <div class="field create-password">
        <div class="input-field">
          <input type="password" name="password" placeholder="Create password" required />
          <i class="bx bx-hide show-hide"></i>
        </div>
      </div>

      <!-- Confirm Password -->
      <div class="field confirm-password">
        <div class="input-field">
          <input type="password" name="cpassword" placeholder="Confirm password" required />
          <i class="bx bx-hide show-hide"></i>
        </div>
      </div>

      <!-- Submit -->
      <div class="input-field button">
        <input type="submit" value="Submit Now" />
      </div>
    </form>

    <!-- Error / Success message -->
    <% if (message) { %>
      <p style="color: red; margin-top: 10px;"><%= message %></p>
    <% } %>
  </div>

  <script>
    // Toggle password visibility
    const eyeIcons = document.querySelectorAll(".show-hide");
    eyeIcons.forEach((eyeIcon) => {
      eyeIcon.addEventListener("click", () => {
        const pInput = eyeIcon.parentElement.querySelector("input");
        if (pInput.type === "password") {
          eyeIcon.classList.replace("bx-hide", "bx-show");
          pInput.type = "text";
        } else {
          eyeIcon.classList.replace("bx-show", "bx-hide");
          pInput.type = "password";
        }
      });
    });
  </script>
</body>
</html>
